/** Import Eric Meyer's reset */
@import "./reset.css";
/** Import Inter font family from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/*****************************
 *****************************
//
// Global Styles
//
*****************************
*****************************/
:root {
  /* Define our color palette Custom Properties (CSS variables) */
  --color-black: #0e1414;
  --color-dark: #1f2525;
  --color-light: #ececf0;
  --color-white: #fff;
  --color-white-50o: rgba(255, 255, 255, 0.5);

  /* Define our thematic Custom Properties (CSS variables) */
  --font-color: var(--color-dark);
  --bg-main-color: var(--color-white);
  --bg-main-color-50o: var(--color-white-50o);
  --bg-secondary-color: var(--color-light);

  /* Define stylistic properties */
  --shadow: 0px 4px 16px 8px rgba(31, 37, 37, 0.15);
}

html,
body {
  /* Web safe font stacks: https://css-tricks.com/snippets/css/font-stacks/ */

  /* font-size [font-size]/[line-height] font-family */
  font: normal 100%/1.5 "Inter", Arial, Helvetica, sans-serif; /* 100% font-size ~= 16px === 1rem */

  /* @Todo: these properties can be updated to support light/dark mode */
  color: var(--font-color);
  background-color: var(--bg-main-color);
}

/* 
  Set all box sizing width/heights 
  to account for border and padding
*/
* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*****************************
 *****************************
//
// Typography
//
*****************************
*****************************/

/* Title 1 */
.title1 {
  /* mobile and up */
  font-weight: bold;
  font-size: 2rem; /* 32 */
  line-height: 2.625rem; /* 42 */
}

/* inherits mobile + large screens and up */
@media all and (min-width: 1024px) {
  .title1 {
    font-size: 4.5rem; /* 72 / 16 (1rem) */
    line-height: 5.625rem; /* 90 */
  }
}

/* Title 2 */
.title2 {
  font-weight: bold;
  font-size: 1.6875rem; /* ~27px */
  line-height: 2.53125rem; /* ~40.5px */
}

@media all and (min-width: 1024px) {
  .title2 {
    font-size: 3.5rem; /* ~56px */
    line-height: 5.25rem; /* ~84px */
  }
}

/* Title 3 */
.title3 {
  font-weight: bold;
  font-size: 1.5rem; /* ~24px */
  line-height: 2.25rem; /* ~36px */
}

@media all and (min-width: 1024px) {
  .title3 {
    font-size: 2.625rem; /* ~42px */
    line-height: 5.9375rem; /* ~63px */
  }
}

/* Title 4 */
.title4 {
  font-weight: bold;
  font-size: 1.3125rem; /* ~21px */
  line-height: 1.96875rem; /* ~31.5px */
}

@media all and (min-width: 1024px) {
  .title4 {
    font-size: 2.625rem; /* ~42px */
    line-height: 5.9375rem; /* ~63px */
  }
}

/* Title 5 */
.title5 {
  font-weight: bold;
  font-size: 1rem; /* ~16px */
  line-height: 1.5rem; /* ~24px */
}

@media all and (min-width: 1024px) {
  .title5 {
    font-size: 2.625rem; /* ~42px */
    line-height: 5.9375rem; /* ~63px */
  }
}

/* Body Text */
.body-text {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* Caption */
.caption-text {
  font-size: 0.8125rem; /* 13px */
  line-height: 1.21875rem; /* 19.5px */
}

/* Inline Styles */
a,
.link {
  text-decoration: underline;
  color: #1f2525;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  text-decoration: none;
}

strong,
b,
.strong {
  font-weight: bold;
}

em,
i,
.itallic {
  font-style: italic;
}

/*****************************
 *****************************
//
// Components
//
*****************************
*****************************/

/***
// Header Component
***/
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--bg-main-color);
}

@media all and (min-width: 1024px) {
  .header__layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/***
// Branding Component
***/
@media all and (min-width: 1024px) {
  .branding {
    display: flex;
    align-items: center;
  }
}

.branding__img {
  display: inline-block;
  width: 2.875rem; /* 46px */
  height: 3.09875rem; /* 49.58px */
  margin-right: 1.5rem; /* 24px */
}

.branding__text {
  display: none;
}

@media all and (min-width: 1024px) {
  .branding__text {
    display: inline;
  }
}

/***
// Content Max Width Wrapper
***/
.max-width {
  width: 100%;
  max-width: 71.25rem; /* 1140px */
  margin: 0 auto;
  padding: 0 1rem;
}

@media all and (min-width: 1024px) {
  .max-width {
    padding: 0 3rem;
  }
}

/***
// Nav Main
***/
.nav-main {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: var(--bg-main-color-50o);
  backdrop-filter: blur(16px);
}

.nav-main--mobile-show {
  display: block;
}

@media all and (min-width: 1024px) {
  .nav-main {
    position: static;
    top: auto;
    left: auto;
    display: block !important;
    width: auto;
    height: auto;
    margin: 0;
    background: transparent;
    backdrop-filter: none;
  }
}

@media all and (min-width: 1024px) {
  .nav-main__list {
    display: flex;
  }
}

.nav-main__item {
  display: block;
}

.nav-main__link {
  position: relative;
  display: block;
  height: 6.75rem; /* 108px */
  padding: 0 1rem; /* 0 16px */
  text-decoration: none;
  font-size: 2rem; /* 32px */
  line-height: 6.75rem; /* 108px */
}

@media all and (min-width: 1024px) {
  .nav-main__link {
    font-weight: bold;
  }
}

.nav-main__link:hover::before,
.nav-main__link:focus::before {
  opacity: 0.6;
}

.nav-main__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0.25rem; /* 4px */
  height: 100%;
  opacity: 0;
  background: var(--font-color);
}

@media all and (min-width: 1024px) {
  .nav-main__link::before {
    top: auto;
    bottom: 0;
    width: 100%;
    height: 0.25rem; /* 4px */
  }
}

.nav-main__link--current::before {
  opacity: 1;
}

@media all and (min-width: 1024px) {
  .nav-main__link {
    height: 5rem; /* 80px */
    font-size: 1rem; /* 16px */
    line-height: 5rem; /* 80px */
  }
}

/***
// Footer
***/
.footer {
  margin-top: 2rem; /* 32px */
  padding-top: 2rem; /* 32px */
  padding-bottom: 2rem; /* 32px */
  text-align: center;
  font-size: 0.8125rem; /* 13px */
  border-top: 0.5rem solid var(--bg-secondary-color); /* 8px border */
}

@media all and (min-width: 1024px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }
}

.footer__social {
  display: flex;
  justify-content: center;
}

.footer__social__link {
  display: block;
  padding: 1rem 0.5rem; /* 16px 8px */
}

/***
// Buttons
***/
.button {
  display: inline-block;
  height: 4.5rem; /* 72px */
  padding: 0 1rem; /* 1 16px */
  text-align: center;
  text-decoration: none;
  line-height: 4.5rem; /* 72px */
  color: var(--bg-secondary-color);
  background: var(--font-color);
  border: 1px solid transparent;
}

.button:hover,
.button:focus {
  text-decoration: underline;
  color: var(--font-color);
  background: var(--bg-secondary-color);
  box-shadow: var(--shadow);
}

.button--outline {
  color: var(--font-color);
  background-color: transparent;
  border-color: var(--font-color);
}

.button--outline:hover {
  border-color: transparent;
}

/***
// Cards
***/
.card {
  background: var(--bg-main-color);
  border: 1px solid var(--bg-secondary-color);
  box-shadow: var(--shadow);
}

.card__media {
  width: 100%;
  max-width: none;
  margin-bottom: 1.5rem; /* 24px */
}

.card__content {
  padding: 1.5rem; /* 24px */
}

.card__meta {
  display: block;
  margin-bottom: 1rem; /* 16px */
}

.card__title {
  font-weight: bold;
  font-size: 1.5rem; /* 24px */
}

/***
// Media Figure
***/
.media-figure {
  position: relative;
}

.media-figure__img {
  width: 100%;
  max-width: none;
}

.media-figure__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  padding: 16px 16px 16px 32px;
  font-size: 0.75rem; /* 12px */
  line-height: 1.125rem; /* 18px */
  background: var(--bg-secondary-color);
}

@media all and (min-width: 1024px) {
  .media-figure__caption {
    width: 50%;
  }
}

/***
// Page intro
***/
.intro {
  padding: 2.5rem 0; /* 40px 0 */
}

@media all and (min-width: 1024px) {
  .intro {
    padding: 3rem 0; /* 48px 0 */
  }
}

.intro__subtitle {
  margin-top: 1rem; /* 16px */
  font-weight: bold;
}

@media all and (min-width: 1024px) {
  .intro__subtitle {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
  }
}

/***
// Bio Section
***/
.bio {
  padding: 4.5rem 0; /* 72px 0 */
}

@media all and (min-width: 1024px) {
  .bio {
    padding-right: 8.3%;
    padding-left: 8.3%;
  }
}

.bio__img {
  display: block;
  max-width: 10.3125rem; /* 165px */
  margin-bottom: 1.5rem; /* 24px */
  border-radius: 50%;
}

@media all and (min-width: 1024px) {
  .bio__img {
    max-width: 15.5rem; /* 248px */
    margin-bottom: 0;
    margin-right: 4.5rem; /* 72px */
    float: left;
    shape-outside: circle(9rem);
  }
}

@media all and (min-width: 1024px) {
  .bio__content {
    margin-top: 6%;
  }
}

.bio__content p {
  margin-bottom: 1.5rem; /* 24px */
}

/***
// Latest News Section
***/
.latest-news {
  padding: 4.5rem 0; /* 72px 0 */
  background: var(--bg-secondary-color);
}

@media all and (min-width: 1024px) {
  .latest-news {
    padding: 5rem 0; /* 80px 0 */
  }
}

.latest-news__title {
  margin-bottom: 1.5rem; /* 24px */
  text-align: center;
}

@media all and (min-width: 1024px) {
  .latest-news__list {
    display: flex;
    align-items: stretch;
    margin: 0 -0.5rem;
  }
}

.latest-news__item {
  margin: 1rem 0; /* 16px 0 */
}

@media all and (min-width: 1024px) {
  .latest-news__item {
    flex: 1 1 33.333%;
    margin: 0 0.5rem; /* 8px */
  }
}

@media all and (min-width: 1024px) {
  .latest-news__item__link {
    display: block;
    height: 100%;
  }
}

@media all and (min-width: 1024px) {
  .latest-news__item__card {
    height: 100%;
  }
}

.latest-news__cta {
  margin-top: 2.5rem; /* 40px */
  text-align: center;
}

.latest-news__cta__button {
  display: block;
}

@media all and (min-width: 1024px) {
  .latest-news__cta__button {
    max-width: 21.125rem; /* 338px */
    margin: 0 auto;
  }
}

/*****************************
 *****************************
//
// Page Components
//
*****************************
*****************************/

/***
// Homepage
***/
.page--home__intro__subtitle {
  margin-top: 2rem; /* 32px */
  margin-bottom: 0.5rem; /* 8px */
}

@media all and (min-width: 1024px) {
  .page--home__intro__subtitle {
    margin-top: 2.5rem; /* 40px */
    font-size: 1.5rem; /* 24px */
  }
}

.page--home__intro__button {
  display: block;
  max-width: 16.125rem; /* 258px */
  margin-top: 2.5rem; /* 40px */
  margin-bottom: 1rem; /* 16px */
}

.page--home__works-img {
  width: 100%;
  max-width: 3000px;
  margin: 0 auto;
}

/***
// Works
***/
.page--works__list {
  margin: 0 -1rem; /* 16px */
}

@media all and (min-width: 1024px) {
  .page--works__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
  }
}

.page--works__list__item {
  margin-bottom: 0.25rem; /* 4px */
}

@media all and (min-width: 1024px) {
  .page--works__list__item {
    flex: 1 0 50%;
    margin: 0;
    padding: 0.5rem; /* 8px */
  }
}

/*****************************
 *****************************
//
// Utilities
//
*****************************
*****************************/

.u-link-underline-reverse {
  text-decoration: none !important;
}

.u-link-underline-reverse:hover {
  text-decoration: underline !important;
}

/* Completely remove from the flow but leave available to screen readers. */
.u-hidden-visually {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}

/*
  Clearfix for floats:
  https://css-tricks.com/snippets/css/clear-fix/
*/
.u-clearfix:before,
.u-clearfix:after {
  content: "" !important;
  display: table !important;
}
.u-clearfix:after {
  clear: both !important;
}
.u-clearfix {
  zoom: 1 !important; /* For IE 6/7 (trigger hasLayout) */
}
