/** Import Eric Meyer's reset */
@import "./reset.css";
/** Import Inter font family from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/*****************************
 *****************************
//
// Global Styles
//
*****************************
*****************************/
:root {
  /* Define our color palette Custom Properties (CSS variables) */
  --color-black: #0e1414;
  --color-dark: #1f2525;
  --color-light: #ececf0;
  --color-white: #fff;

  /* Define our thematic Custom Properties (CSS variables) */
  --font-color: var(--color-dark);
  --bg-main-color: var(--color-white);
  --bg-secondary-color: var(--color-light);

  /* Define stylistic properties */
  --shadow: 0px 4px 16px 8px rgba(31, 37, 37, 0.15);
}

html,
body {
  /* Web safe font stacks: https://css-tricks.com/snippets/css/font-stacks/ */

  /* font-size [font-size]/[line-height] font-family */
  font: normal 100%/1.5 "Inter", Arial, Helvetica, sans-serif; /* 100% font-size ~= 16px === 1rem */

  /* @Todo: these properties can be updated to support light/dark mode */
  color: var(--font-color);
  background-color: var(--bg-main-color);
}

/* 
  Set all box sizing width/heights 
  to account for border and padding
*/
* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*****************************
 *****************************
//
// Typography
//
*****************************
*****************************/

/* Title 1 */
.title1 {
  /* mobile and up */
  font-weight: bold;
  font-size: 2rem; /* 32 */
  line-height: 2.625rem; /* 42 */
}

/* inherits mobile + large screens and up */
@media all and (min-width: 1024px) {
  .title1 {
    font-size: 4.5rem; /* 72 / 16 (1rem) */
    line-height: 5.625rem; /* 90 */
  }
}

/* Title 2 */
.title2 {
  font-weight: bold;
  font-size: 1.6875rem; /* ~27px */
  line-height: 2.53125rem; /* ~40.5px */
}

@media all and (min-width: 1024px) {
  .title2 {
    font-size: 3.5rem; /* ~56px */
    line-height: 5.25rem; /* ~84px */
  }
}

/* Title 3 */
.title3 {
  font-weight: bold;
  font-size: 1.5rem; /* ~24px */
  line-height: 2.25rem; /* ~36px */
}

@media all and (min-width: 1024px) {
  .title3 {
    font-size: 2.625rem; /* ~42px */
    line-height: 5.9375rem; /* ~63px */
  }
}

/* Title 4 */
.title4 {
  font-weight: bold;
  font-size: 1.3125rem; /* ~21px */
  line-height: 1.96875rem; /* ~31.5px */
}

@media all and (min-width: 1024px) {
  .title4 {
    font-size: 2.625rem; /* ~42px */
    line-height: 5.9375rem; /* ~63px */
  }
}

/* Title 5 */
.title5 {
  font-weight: bold;
  font-size: 1rem; /* ~16px */
  line-height: 1.5rem; /* ~24px */
}

@media all and (min-width: 1024px) {
  .title5 {
    font-size: 2.625rem; /* ~42px */
    line-height: 5.9375rem; /* ~63px */
  }
}

/* Body Text */
.body-text {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* Caption */
.caption-text {
  font-size: 0.8125rem; /* 13px */
  line-height: 1.21875rem; /* 19.5px */
}

/* Inline Styles */
a,
.link {
  text-decoration: underline;
  color: #1f2525;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  text-decoration: none;
}

strong,
b,
.strong {
  font-weight: bold;
}

em,
i,
.itallic {
  font-style: italic;
}

/*****************************
 *****************************
//
// Components
//
*****************************
*****************************/

/***
// Branding Component
***/
.branding__img {
  display: inline-block;
  width: 2.875rem; /* 46px */
  height: 3.09875rem; /* 49.58px */
  margin-right: 1.5rem; /* 24px */
}

.branding__text {
  display: none;
}

@media all and (min-width: 1024px) {
  .branding__text {
    display: inline;
  }
}

/***
// Content Max Width Wrapper
***/
.max-width {
  width: 100%;
  max-width: 71.25rem; /* 1140px */
  margin: 0 auto;
  padding: 0 1rem;
}

@media all and (min-width: 1024px) {
  .max-width {
    padding: 0 3rem;
  }
}

/***
// Nav Main
***/
.nav-main__item {
  display: block;
}

@media all and (min-width: 1024px) {
  .nav-main__item {
    display: inline-block;
  }
}

.nav-main__link {
  display: block;
  height: 6.75rem; /* 108px */
  padding: 0 1rem; /* 0 16px */
  text-decoration: none;
  font-size: 2rem; /* 32px */
  line-height: 6.75rem; /* 108px */
}

@media all and (min-width: 1024px) {
  .nav-main__link {
    height: 5rem; /* 80px */
    font-size: 1rem; /* 16px */
    line-height: 5rem; /* 80px */
  }
}

/***
// Footer
***/
.footer {
  margin-top: 2rem; /* 32px */
  padding-top: 2rem; /* 32px */
  padding-bottom: 2rem; /* 32px */
  border-top: 0.5rem solid var(--bg-secondary-color); /* 8px border */
}

/***
// Buttons
***/
.button {
  display: inline-block;
  height: 4.5rem; /* 72px */
  padding: 0 1rem; /* 1 16px */
  text-decoration: none;
  line-height: 4.5rem; /* 72px */
  color: var(--bg-secondary-color);
  background: var(--font-color);
  border: 1px solid transparent;
}

.button--outline {
  color: var(--font-color);
  background-color: transparent;
  border-color: var(--font-color);
}

.button:hover,
.button:focus {
  text-decoration: underline;
  color: var(--font-color);
  background: var(--bg-secondary-color);
  box-shadow: var(--shadow);
}

/***
// Cards
***/
.card {
  background: var(--bg-main-color);
  border: 1px solid var(--bg-secondary-color);
  box-shadow: var(--shadow);
}

.card__media {
  width: 100%;
  max-width: none;
  margin-bottom: 1.5rem; /* 24px */
}

.card__content {
  padding: 1.5rem; /* 24px */
}

.card__meta {
  display: block;
  margin-bottom: 1rem; /* 16px */
}

.card__title {
  font-weight: bold;
  font-size: 1.5rem; /* 24px */
}

/***
// Page intro
***/
.intro {
  padding: 2.5rem 0; /* 40px 0 */
}

@media all and (min-width: 1024px) {
  .intro {
    padding: 3rem 0; /* 48px 0 */
  }
}

/*****************************
 *****************************
//
// Utilities
//
*****************************
*****************************/

.u-link-underline-reverse {
  text-decoration: none !important;
}

.u-link-underline-reverse:hover {
  text-decoration: underline !important;
}
